<div class="container">
    <div class="row border-bottom pb-4">
        <div class="col-sm-4">
            <div class="about-footer">
                <img src="image/logo.webp" alt="">
                <p>
                    Hệ thống cửa hàng Sudes Phone chuyên bán lẻ điện thoại,
                    máy tính laptop, smartwatch, smarthome,
                    phụ kiện chính hãng - Giá tốt, giao miễn phí.
                </p>
                <p>
                    <b>Địa chỉ</b> Công viên phần mềm Quang Trung, TP.HCM
                </p>
                <p>
                    <b>Điện thoại</b> 0962.62.5555
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="chinhsach">
                <h3>CHÍNH SÁCH</h3>
                <li><a href="">Chính sách mua hàng</a></li>
                <li><a href="">Chính sách đổi trả</a></li>
                <li><a href="">Chính sách vận chuyển</a></li>
                <li><a href="">Chính sách bảo mật</a></li>
                <li><a href="">Cam kết cửa hàng</a></li>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="social">
                <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                <div class="icon-social">
                    <a href=""><img src="image/facebook_2.svg" alt=""></a>
                    <a href=""><img src="image/instagram_1.svg" alt=""></a>
                    <a href=""><img src="image/shopee.svg" alt=""></a>
                    <a href=""><img src="image/lazada.svg" alt=""></a>
                    <a href=""><img src="image/tiktok.svg" alt=""></a>
                </div>
                <h3>HỖ TRỢ THANH TOÁN</h3>
                <div class="icon-payment">
                    <a href=""><img src="image/payment_7.svg" alt=""></a>
                    <a href=""><img src="image/payment_2.svg" alt=""></a>
                    <a href=""><img src="image/payment_3.svg" alt=""></a>
                    <a href=""><img src="image/payment_6.svg" alt=""></a>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="text-center fw-bold text-white pt-4">
            Copyright 2023 AngularJS © by Lê Công Hưng
        </span>
    </div>
</div>